@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/poppins/poppins-v19-100.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-100.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/poppins/poppins-v19-300.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-300.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins/poppins-v19-400.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-400.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins/poppins-v19-500.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins/poppins-v19-700.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/poppins/poppins-v19-900.woff2") format("woff2"),
    url("/fonts/poppins/poppins-v19-900.woff") format("woff");
}
